/* 子绝父相 */
body{
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
section {
    flex: 1 0 auto;
}

footer{
    margin-top: 10px;
    flex-shrink: 0;
}
footer a{
    text-decoration: none;
    color: #575a5d;
    padding-top: 10px !important;
    font-size:20px;
}
a:hover {
    color: blue;
}
a:visited {
    text-decoration: none;
}
.search{
    left: 35px;
    top: 7px;
    color: red;
}
.myImg{
    width: 100% !important;
}
.carousel-item img {
    max-width: 100%;
    /* width: 100%;  控制宽度为容器的100% */
    max-height: 100%; /* 高度自动，保持图片的原始纵横比 */ /* 图片始终填满容器，可能会被裁剪 */
}

.picBanner{
   height: 50%vh !important;
}