/* 子绝父相 */
body {
    padding-top: 3.5rem;
}

footer {
    margin-top: 10px;
}

.search {
    left: 35px;
    top: 7px;
    color: red;
}

.myImg {
    width: 100% !important;
}
.total{
    position: relative;
    background-color: #ccc;
    width: 100%;
    height: 200px;
    margin-top: 140px;
}

.bear {
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 100px;
    bottom: 20px;
    background: url(../assets/img/bear.png) no-repeat;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: Bear_run 0.5s steps(8) infinite, Bear_place 2s forwards
}

.hill-white {
    width: 100%;
    height: 336px;
    background: url(../assets/img/bg1.png) repeat-x;
    position: absolute;
    bottom: 0;
    left: -2px;
    animation: hillrun1 20s linear infinite;
}

.hill-black {
    width: 100%;
    position: absolute;
    bottom: 0px;
    animation-delay: 1s;
    z-index: -1;
    background: url(../assets/img/bg2.png) repeat-x;
   
}

@keyframes Bear_run {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1600px 0;
    }
}

@keyframes Bear_place {
    0% {
        left: 0;
    }

    100% {
        left: 50%;
        /* margin-left: -100px; */
        transform: translateX(-100px);
    }
}

@keyframes hillrun1 {
    0% {
        background-position: 0, 0;
    }

    100% {
        background-position: -3840px 0;
    }
}